{% extends "base.html" %}

{% block content %}

<!-- Header Section-->
<div class="container">
<header class="row">

    </div>
    <div class="col-12 col-md-6">
    </div>
</header>
<!--End of our Header Section-->

<!-- Start of Middle Section -->
<section class="row">

</section>

<!-- Collection of Features -->
<section class="row" id="features-section">
   
</section>

<!-- End of Collection of Features-->
<!--Begin Community Section-->

<section class="row">
  
</footer>

{% endblock content %}